@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
  
}

#root {
    display: flex;
    flex-direction: column;

}
.search {
    border: 2px solid rgba(136, 135, 135, 0.493);
    background-color: transparent;
    border-radius: 50px;
    color:white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}
header {
    background-color: rgba(17, 17, 17, 0.055);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.movie {
    width: 250px;
    background-color: rgba(17, 17, 17, 0.055);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
    overflow: hidden;
    margin: 1rem;
    position: relative;
}
.movie img {
    max-width: 100%;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-info {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.movie-info h3 {
    margin: 0;
}
.movie-over {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    padding: 1rem;
    right: 0;
    color: #111;
    max-height: 100%;
    overflow: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.tag {
    background-color:#111 ;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 5px;
}
.tag.green {
    color: green;
}
.tag.orange {
    color: orange;
}
.tag.red{
    color: red;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}